body {
  font-family: 'Segoe UI';
  background: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
}

div {
  padding: 20px;
  width: 100%;
  text-align: center;
}

input {
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #363636;
  border-radius: 5px;  
  width: 15%;
}

button {
  padding: 8px 16px;
  margin-top: 10px;
  border-radius: 4px;
  background: #1a1919;
  color: #fff;
  cursor: pointer;
}

ul { 
  list-style: none; 
  padding: 0; 
}

li a {
  color: #1b1b1b;
  text-decoration: none;
}